<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ name }}</title>

    <link rel="stylesheet" href="style/style.css"> 
    <script type="module" src="js/main.js"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
</head>

<body>
    <h1>This is {{ name }}</h1>

    <p>
    Create here your interactive touchscreen page.
    </p>

    <p>
    <button id="say_hello_btn" type="button">Say hello!</button>
    <button id="content_page_btn" type="button">Go to the next page</button>
    </p>
</body>
</html>

