cmake_minimum_required(VERSION 3.0.2)
project({{ id }})

find_package(catkin REQUIRED rospy actionlib)

catkin_python_setup()
catkin_package()

catkin_install_python(PROGRAMS
   scripts/behavior
   DESTINATION ${CATKIN_PACKAGE_BIN_DESTINATION}
)

