<?xml version="1.0"?>
<package format="3">
    <name>{{ id }}</name>
    <version>0.1.0</version>
    <description>{{ name }}</description>

  <maintainer email="todo@todo.todo">TODO</maintainer>

  <license>Proprietary</license>

  <buildtool_depend>catkin</buildtool_depend>
  <depend>rospy</depend>
  <depend>actionlib</depend>
  <depend>hri_actions_msgs</depend>

  <export>
  </export>
</package>
