#!/usr/bin/env python
# -*- coding: utf-8 -*-

from setuptools import find_packages, setup
import os
from glob import glob

NAME = "{{ id }}"


setup(
    name=NAME,
    version="0.1.0",
    license="Apache-2.0",
    description="{{ name }}",
    author="todo",
    author_email="todo@todo.todo",
    packages=find_packages(exclude=['test']),
    data_files=[
        ('share/' + NAME, ['package.xml']),
        ('share/ament_index/resource_index/packages', ['res/' + NAME]),
        ('share/ament_index/resource_index/pal_system_module_set',
            ['res/app_module.yaml']),
        (os.path.join('share', NAME), glob('launch/*.launch.py'))
    ],
    tests_require=['pytest'],
    install_requires=['setuptools'],
    zip_safe=True,
    entry_points={
        'console_scripts': [
            'run_app = ' + NAME + '.run_app:main'
        ],
    },
)

