#!/usr/bin/env python
# -*- coding: utf-8 -*-

from setuptools import setup


def readme():
    with open("README.md") as f:
        return f.read()


NAME = "{{ id }}"


setup(
    name=NAME,
    version="0.1.0",
    license="Apache-2.0",
    description="{{ name }}",
    long_description=readme(),
    classifiers=[
        "Programming Language :: Python :: 3",
    ],
    author="todo",
    author_email="todo@todo.todo",
    packages=["{{ id }}"],
    data_files=[
        ('share/' + NAME, ['package.xml']),
        ('share/ament_index/resource_index/packages', ['res/' + NAME]),
    ],
    scripts=["scripts/run_app"],
    tests_require=['pytest'],
)

