<!DOCTYPE html>
<html>
<head>
    <title>Content for {{ name }}</title>

    <link rel="stylesheet" href="style/style.css"> 
    <script type="module" src="js/main.js"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
</head>

<body>
    <h1>Important content for {{ name }}</h1>

    <p>
    Another page
    </p>

    <p>
    <button id="landing_page_btn" type="button">Go back to landing page</button>
    </p>
</body>
</html>

